/* src/App.css */

body {
  background-color: #eef0f3;
  font-family: 'Arial', sans-serif;
}

.App {
  max-width: 70%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .App {
    max-width: 95%;
    padding: 15px;
  }
}
